@model MyPortfolio.Models.CatagoryModel

@{
    ViewBag.Title = "Create";
    //Layout = "~/Views/Shared/_LayoutResume.cshtml";
}

@section Meta{
    @*<link href="~/Content/CSS/contact.css" rel="stylesheet" />*@
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CatagoryModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Catagory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input_icon_container">
                <i class="fa fa-folder"></i>
                @Html.EditorFor(model => model.Catagory, new { htmlAttributes = new { @class = "form-control fleft", @placeholder = "Catagory" } })
                @Html.ValidationMessageFor(model => model.Catagory, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="input_icon_container">
        <i class="fa fa-user"></i>
        @Html.EditorFor(model => model.Catagory,
            new
            {
                htmlAttributes = new
                {
                    @class = "form_control fleft",
                    @placeholder = @Html.DisplayNameFor(model => model.Catagory)
                }
            })
        <em>
            <sup>*</sup> <!--Error Message-->
            @Html.ValidationMessageFor(model => model.Catagory, "", new { @class = "text-danger" })
        </em>
    </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
