<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Meta", required:false)

    <link href="~/Content/bootstrap/bootstrap.dashboard.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My Portfolio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Dashboard", "", "Dashboard")</li>
                    }
                    <li>@Html.ActionLink("My Resume", "", "Default")</li>
                </ul>
                @*<form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="Search...">
                    </form>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar" >

                    <div class="nav-sidebar">
                        <img src="~/Images/1.jpg" class="profile-img"/>
                        <label class="profile-label">Shbsovon<br /><span class="h6">.Net Programmer</span></label>
                    </div>
                    <div class="accordion">
                        <ul class="nav nav-sidebar" id="accordion">
                            <li class="@(@ViewBag.selectedType == "Dashboard" ? "active" : "")"><a role="button" data-parent="#accordion" href="/Dashboard/">Overview <span class="sr-only">(current)</span></a></li>

                            <li class="@(@ViewBag.selectedType == "Blog" ? "active" : "")">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-posts">Blog</a>
                                <ul id="collapse-posts" class="nav @(@ViewBag.selectedType == "Blog" ? "in" : "collapse")">
                                    <li class="@(@ViewBag.selectedPage == "Post" ? "currentPage" : "")">@Html.ActionLink("All Posts", "Posts", "Dashboard")</li>
                                    <li class="@(@ViewBag.selectedPage == "New" ? "currentPage" : "")">@Html.ActionLink("Add New", "AddNew", "Dashboard")</li>
                                    <li class="@(@ViewBag.selectedPage == "Catagories" ? "currentPage" : "")">@Html.ActionLink("Catagories", "Catagories", "Dashboard")</li>
                                    <li class="@(@ViewBag.selectedPage == "Tags" ? "currentPage" : "")">@Html.ActionLink("Tags", "Tags", "Dashboard")</li>
                                    <li class="@(@ViewBag.selectedPage == "Comments" ? "currentPage" : "")">@Html.ActionLink("Comments", "Comments", "Dashboard")</li>
                                </ul>
                            </li>

                            <li>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-resume">My Profile</a>
                                <ul id="collapse-resume" class="nav collapse">
                                    <li>@Html.ActionLink("Home", "Action", "Controller")</li>
                                    <li><a href="#">Personal Info</a></li>
                                    <li><a href="#">Contact Info</a></li>
                                    <li><a href="#">Educational Info</a></li>
                                    <li><a href="#">Professional Info</a></li>
                                    <li><a href="#">Interest</a></li>
                                </ul>
                            </li>

                            <li>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">My Project</a>
                                <ul id="collapseOne" class="nav collapse">
                                    <li><a href="#">Projects</a></li>
                                    <li><a href="#">Add New</a></li>
                                </ul>
                            </li>

                            <li>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">My Portfolio</a>
                                <ul id="collapseTwo" class="nav collapse">
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Add New</a></li>
                                </ul>
                            </li>

                            <li>
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#media">Media</a>
                                <ul id="media" class="nav collapse">
                                    <li><a href="#">Library</a></li>
                                    <li><a href="#">Add New</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>

                </div>
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    @RenderBody()
                </div>
            </div>
        </div>

    </div>
    <div class="blog-footer">
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <!--<script src="../../dist/js/bootstrap.min.js"></script>-->
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!--<script src="../../assets/js/vendor/holder.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>
